/*
* Variables 
*
*/

// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// Theme
// -------------------------------
$primary-background:            #465059;
$primary-text-color:            #e1e1e1;
$primary-navbar-background:     #374049;
$primary-sidebar-background:    #222d32;
$primary-sidebar-text-color:    #b8c7ce;

// Nav
// -------------------------------
$nav-bar-height:                50px;

// Fonts
// -------------------------------

$font-family-sans-serif:           '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    '-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;
$font-family-open-sans:           "Open sans", #{$font-family-serif};
$font-family-montserrat:          "Montserrat", #{$font-family-sans-serif};

// Sidebar
// -------------------------------
$sidebar-width:                    230px;
$sidebar-menuhover-background:     #1e282c;

// Css
// -------------------------------

*{
  -webkit-user-select: none;
    user-select: none;
    font-family: $font-family-open-sans;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background: $primary-background;
  color: $primary-text-color;
  overflow: hidden !important;
}

a, a:visited, a:hover, a:focus {
  text-decoration: none;
}

.round {
  border-radius: 50%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    display: none;
}

.main-header {
    position: relative;
    max-height: $nav-bar-height;
    min-height: 40px;
    z-index: 5;
    border-bottom: 1px solid #282b2f;
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}
.fixed .main-header {
    position: fixed;
}

.main-header .logo {
    display: block;
    height: $nav-bar-height;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: $font-family-montserrat;
    padding: 0 15px;
    font-weight: 300;
    margin: 0px auto;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
    color: #fff;
}
.main-header .sidebar-toggle:before {
    content: "\f0c9";
}

.main-header .navbar {
    margin-bottom: 0;
    border: none;
    height: $nav-bar-height;
    border-radius: 0;
    background: $primary-navbar-background;
    -webkit-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
}

/*Sidebar*/

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: $nav-bar-height;
    width: $sidebar-width;
    z-index: 1;
    float: left;    
    background-color: $primary-sidebar-background;
    white-space: nowrap;
    overflow: hidden;
    min-height: calc(100% - 50px);
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.wrapper.small .main-sidebar {
    width: 0px;
}

// Slide menu

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}
.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: $sidebar-menuhover-background;
    border-left-color: #4c3984;
}
.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar a {
    color: $primary-sidebar-text-color;
}

.sidebar-menu>li>a>i {
    margin-right: 5px;
}

.sidebar h3 {
    font-family: $font-family-montserrat;
}


//Content Wrapper

.content-wrapper {
    width: 100%;
    margin-left: 0px;
    z-index: 800;
    min-height: calc(100% - 50px);
    margin-top: 50px;    
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;    
};

.wrapper.small > .content-wrapper {
    margin-left: 0px !important;
}